<div class="task-board">
  <app-task-column
    #column1
    [title]="'A Fazer'"
    [tasks]="getTodoTasks()"
    [type]="'todo'"
    (moveTaskEvent)="moveTask($event.task, $event.status)">
  </app-task-column>

  <app-task-column
    #column2
    [title]="'Em Execução'"
    [tasks]="getDoingTasks()"
    [type]="'doing'"
    (moveTaskEvent)="moveTask($event.task, $event.status)">
  </app-task-column>

  <app-task-column
    #column3
    [title]="'Concluídas'"
    [tasks]="getDoneTasks()"
    [type]="'done'"
    (moveTaskEvent)="moveTask($event.task, $event.status)">
  </app-task-column>
</div>
