.task-board {
  display: flex;
  gap: 1.5rem;
  border-radius: 20px;
  padding: 1.5rem;
  justify-content: space-around;
  min-height: calc(100vh - 100px);
  background-color: #f5f5f5;
  font-family: 'Inter', sans-serif;

  app-task-column {
    flex: 1 1 0;
    min-width: 0;
  }
}
